.footer {
    margin-top: 80px;
    padding-top: 56px;
    padding-bottom: 40px;
    background: #262626;
}

.footer-links {
    position: relative;
    top: -11.5px;
}

.footer-links__link {
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
}

.footer__hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-links__lang-selector {
    margin-top: 3.5px;
    margin-bottom: 10px;
}

.lang-selector {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 40px;
    width: 227px;
    padding-left: 8px;
    padding-right: 8px;
    background: #3b3b3b;
    border-radius: 2px;
}

.lang-selector__text {
    flex-grow: 1;
    margin-left: 16px;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
}

.footer-links__hashtag {
    margin-top: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.footer-links__social-icons {
    margin-bottom: 39px;
}

.apps {
    display: flex;
    justify-content: center;
}

.apps img {
    margin: 0 20.17px;
}

.footer-links__legal-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #FFFFFF;
}

.back-button {
    position: relative;
    right: 16px;
    bottom: 10px;
    margin-top: -90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    float: right;
    background: #59bd5a;
    border-radius: 2px;
}

@media only screen and (min-width: 768px) {
    .back-button {
        width: 80px;
        height: 80px;
    }
}

.back-button img {
    height: 31.25%;
}