.container {
  min-width: 320px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 956px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 956px;
    max-width: 100%;
  }
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #1d1d1d;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  position: relative;
  top: -56px;
}

.header_background {
  height: 72px;
  background: #ffffff;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

header .container {
  position: relative;
  top: -56px;
}

.logo {
  position: relative;
  top: 14px;
}

.logo img {
  max-width: 100%;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location_p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 12px;
  margin-left: 12px;
}

.time {
  height: 40px;
  width: 65px;

  padding-left: 12px;
  padding-right: 12px;
  
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  font-size: 13px;
  text-align: center;

  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-grow: 2;
  height: 40px;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;

  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
}

.location img {
  padding-left: 12px;
  padding-right: 12px;
  line-height: 16px;
}

.location p {
  flex-shrink: 2;
  padding-right: 12px;
  white-space: nowrap;
}

.location-xs-captures {
  margin-bottom: 8px;
  margin-top: 0;
  
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  color: #626262;
}

.buttons_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.sign_in {
  width: 80px;
  height: 40px;
  padding-top: 8px;

  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 13px;
  text-align: center;

  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.register {
  width: 80px;
  height: 40px;
  margin-left: 1em;
  padding-top: 8px;

  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  
  background: #262626;
  border-radius: 2px;
}

.cart {
  position: relative;
  top: 5px;

  padding-right: 1em;
  margin-left: 1em;
}

.search {
  display: flex;
  align-items: flex-start;
  height: 48px;
  border-bottom: 1px solid #757575;
  border-radius: 1px;
  margin-top: 56px;
  margin-bottom: 24px;

  color: #626262;
  mix-blend-mode: normal;
  opacity: 0.5;

  line-height: 25px;
}

.search img {
  margin-right: 8px;
  box-sizing: border-box;
}

.search p {
  margin: 0;
  margin-top: 1px;
}

h1 {
  margin-bottom: 0;
  margin-top: 32px;
  
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 22px;
}

.restraunt {
  margin-top: 16px;
}

.restraunt h3 {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
}

.restraunt p {
  line-height: 21px;
  font-size: 14px;
  color: #626262;
}

.restraunt img {
  width: 100%;
}

footer {
  margin-top: 80px;
  padding-top: 56px;
  padding-bottom: 40px;

  background: #262626;
  color: #fff;
  font-size: 13px;
}

footer p {
  line-height: 40px;
}

footer hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.lang_selector {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 40px;
  width: 227px;
  margin-top: 16px;
  margin-bottom: 10px;

  background: #3b3b3b;
  border-radius: 2px;
}

.lang_selector .dropdown {
  align-self: center;
  margin-right: 8px;
}

.lang_selector .world {
  margin-left: 8px;
  margin-right: 16px;
}

.lang_selector p {
  flex-grow: 1;

  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.apps {
  display: flex;
  justify-content: center;
}

.apps img {
  margin: 0 20.17px;
}

.back_button {
  position: relative;
  right: 16px;
  bottom: 10px;
  margin-top: -90px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  float: right;

  background: #59bd5a;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  .back_button {
    width: 80px;
    height: 80px;
  }
}

.back_button img {
  height: 31.25%;
}
