.container {
  min-width: 320px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 956px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 956px;
    max-width: 100%;
  }
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #1d1d1d;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  position: relative;
  top: -56px;
}

.restraunt-h1 {
  margin-bottom: 0;
  margin-top: 32px;
  
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 22px;
}

.restraunt {
  margin-top: 16px;
}

.restraunt h3 {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
}

.restraunt p {
  line-height: 21px;
  font-size: 14px;
  color: #626262;
}

.restraunt img {
  width: 100%;
}

.footer {
  margin-top: 80px;
  padding-top: 56px;
  padding-bottom: 40px;

  background: #262626;
  color: #fff;
  font-size: 13px;
}

.footer p {
  line-height: 40px;
}

.footer hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.lang-selector {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 40px;
  width: 227px;
  margin-top: 16px;
  margin-bottom: 10px;

  background: #3b3b3b;
  border-radius: 2px;
}

.lang-selector .dropdown {
  align-self: center;
  margin-right: 8px;
}

.lang-selector .world {
  margin-left: 8px;
  margin-right: 16px;
}

.lang-selector p {
  flex-grow: 1;

  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.apps {
  display: flex;
  justify-content: center;
}

.apps img {
  margin: 0 20.17px;
}

.back-button {
  position: relative;
  right: 16px;
  bottom: 10px;
  margin-top: -90px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  float: right;

  background: #59bd5a;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  .back-button {
    width: 80px;
    height: 80px;
  }
}

.back-button img {
  height: 31.25%;
}
